In [5]:
import os
import pandas as pd
from bhadrasana.conf import ENCODE, tmpdir
from bhadrasana.utils.csv_handlers import sch_processing

In [6]:
CAMINHO = '/home/ivan/Downloads'
ARQUIVO = 'Atracados201710.zip'
lista = sch_processing(os.path.join(CAMINHO, ARQUIVO),
               dest_path='.')

In [33]:
df_conhecimento = pd.read_csv('Conhecimento.csv',
                              encoding=ENCODE, dtype=str)
df_conhecimento.head()

,Conhecimento,QuantidadeBloqueiosAtivos,QuantidadeBloqueiosInativos,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,NomeResponsavelBloqueio1,DataBloqueio1,HoraBloqueio1,...,NomeAgenteNavegacaoDesconsolidador,CodigoAgenteNavegacaoDesconsolidador,NomeNavioPrimeiroTransporte,DataEmissaoBLPrimeiroTransporte,BLPrimeiroTransporte,ValorFrete,MoedaFrete,ModalidadeFrete,RecolhimentoFrete,IndicadorCargaConteinerizada
0,151705196875209,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,SEROJA ENAM,04/09/2017,573367908,"00000018600,00",DOLAR DOS EUA,HOUSE TO HOUSE,COLLECT,S
1,151705196876604,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,WIDE CHARLIE,05/09/2017,573582823,"00000001480,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
2,151705196876795,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,SEROJA ENAM,04/09/2017,573589040,"00000013930,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
3,151705196876876,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,SEROJA ENAM,04/09/2017,573589051,"00000013930,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
4,151705196876957,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,MAERSK HORSBURGH,28/08/2017,573716976,"00000000535,99",DOLAR DOS EUA,HOUSE TO HOUSE,COLLECT,S

In [9]:
df_mc =  pd.read_csv('ManifestoConhecimento.csv',
                              encoding=ENCODE, dtype=str)
df_mc.head()

,Manifesto,Conhecimento,CodigoTerminalCarregamento,NomeTerminalCarregamento,CodigoTerminalDescarregamento,NomeTerminalDescarregamento
0,1517502153239,151705196875209,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP
1,1517502153239,151705196876604,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP
2,1517502153239,151705196876795,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP
3,1517502153239,151705196876876,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP
4,1517502153239,151705196876957,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP

In [10]:
df_manifesto = pd.read_csv('Manifesto.csv',
                              encoding=ENCODE, dtype=str)
df_manifesto.head()

,Manifesto,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,NomeResponsavelBloqueio1,DataBloqueio1,HoraBloqueio1,DesbloqueadoPeloTransportador1,CPFResponsavelDesbloqueio1,...,CodigoTerminalCarregamento3,NomeTerminalCarregamento3,CodigoPortoDescarregamento,NomePortoDescarregamento,CodigoTerminalDescarregamento1,NomeTerminalDescarregamento1,CodigoTerminalDescarregamento2,NomeTerminalDescarregamento2,CodigoTerminalDescarregamento3,NomeTerminalDescarregamento3
0,1517502153239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN
1,1517502153220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN
2,1517502152828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN
3,1517502152810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN
4,1517502152801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN

In [11]:
df_em = pd.read_csv('EscalaManifesto.csv',
                    encoding=ENCODE, dtype=str)
df_em.head()

        Escala      Manifesto
0  17000356292  1517502153239
1  17000356292  1517502153220
2  17000356292  1517502152828
3  17000356292  1517502152810
4  17000356292  1517502152801

In [12]:
df_atracacao = pd.read_csv('AtracDesatracEscala.csv',
                    encoding=ENCODE, dtype=str)
df_atracacao.head()

,Escala,CodigoTerminal,NomeTerminal,Situacao,DataAtracacao,HoraAtracacao,DataDesatracacao,HoraDesatracacao,LocalAtracacao
0,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3
1,17000341775,BRSSZ009,EMBRAPORT EMPRESA BRASILEIRA DE TERMINAIS PORT...,ATRACADA,01/10/2017,04:39:00,02/10/2017,03:36:00,EMB02
2,17000358589,BRSSZ016,SANTOS BRASIL,ATRACADA,01/10/2017,08:07:00,02/10/2017,09:02:00,TECON
3,17000358082,BRSSZ016,SANTOS BRASIL,ATRACADA,01/10/2017,17:16:00,02/10/2017,14:47:00,TECON
4,17000344766,BRSSZ035,GRUPO LIBRA (PIER 35),ATRACADA,01/10/2017,18:44:00,02/10/2017,18:27:00,35.2

In [21]:
dfm1 = df_atracacao.merge(df_em)

In [22]:
dfm1.head()

,Escala,CodigoTerminal,NomeTerminal,Situacao,DataAtracacao,HoraAtracacao,DataDesatracacao,HoraDesatracacao,LocalAtracacao,Manifesto
0,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239
1,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153220
2,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502152828
3,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502152810
4,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502152801

In [23]:
dfm2 = dfm1.merge(df_manifesto)

In [28]:
print(len(dfm2))
dfm2.head()

2495

,Escala,CodigoTerminal,NomeTerminal,Situacao,DataAtracacao,HoraAtracacao,DataDesatracacao,HoraDesatracacao,LocalAtracacao,Manifesto,...,CodigoTerminalCarregamento3,NomeTerminalCarregamento3,CodigoPortoDescarregamento,NomePortoDescarregamento,CodigoTerminalDescarregamento1,NomeTerminalDescarregamento1,CodigoTerminalDescarregamento2,NomeTerminalDescarregamento2,CodigoTerminalDescarregamento3,NomeTerminalDescarregamento3
0,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN
1,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153220,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN
2,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502152828,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN
3,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502152810,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN
4,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502152801,...,NaN,NaN,BRSSZ,SANTOS,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN

In [25]:
dfm3 = dfm2.merge(df_mc)

In [29]:
print(len(dfm3))
dfm3.head()

73862

,Escala,CodigoTerminal,NomeTerminal,Situacao,DataAtracacao,HoraAtracacao,DataDesatracacao,HoraDesatracacao,LocalAtracacao,Manifesto,...,NomeTerminalDescarregamento1,CodigoTerminalDescarregamento2,NomeTerminalDescarregamento2,CodigoTerminalDescarregamento3,NomeTerminalDescarregamento3,Conhecimento,CodigoTerminalCarregamento,NomeTerminalCarregamento,CodigoTerminalDescarregamento,NomeTerminalDescarregamento
0,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN,151705196875209,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP
1,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN,151705196876604,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP
2,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN,151705196876795,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP
3,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN,151705196876876,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP
4,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,BRASIL TERMINAL PORTUÁRIO - BTP,NaN,NaN,NaN,NaN,151705196876957,NaN,SINGAPURA,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP

In [36]:
df_final = dfm3.merge(df_conhecimento, on='Conhecimento')

In [37]:
print(len(df_final))
df_final.head()

73862

,Escala,CodigoTerminal,NomeTerminal,Situacao_x,DataAtracacao,HoraAtracacao,DataDesatracacao,HoraDesatracacao,LocalAtracacao,Manifesto,...,NomeAgenteNavegacaoDesconsolidador,CodigoAgenteNavegacaoDesconsolidador,NomeNavioPrimeiroTransporte,DataEmissaoBLPrimeiroTransporte,BLPrimeiroTransporte,ValorFrete,MoedaFrete,ModalidadeFrete,RecolhimentoFrete,IndicadorCargaConteinerizada
0,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,NaN,NaN,SEROJA ENAM,04/09/2017,573367908,"00000018600,00",DOLAR DOS EUA,HOUSE TO HOUSE,COLLECT,S
1,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,NaN,NaN,WIDE CHARLIE,05/09/2017,573582823,"00000001480,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
2,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,NaN,NaN,SEROJA ENAM,04/09/2017,573589040,"00000013930,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
3,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,NaN,NaN,SEROJA ENAM,04/09/2017,573589051,"00000013930,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
4,17000356292,BRSSZ058,BRASIL TERMINAL PORTUÁRIO - BTP,ATRACADA,01/10/2017,00:15:00,01/10/2017,22:53:00,BTP3,1517502153239,...,NaN,NaN,MAERSK HORSBURGH,28/08/2017,573716976,"00000000535,99",DOLAR DOS EUA,HOUSE TO HOUSE,COLLECT,S

In [40]:
print(list(df_final.columns))

['Escala', 'CodigoTerminal', 'NomeTerminal', 'Situacao_x', 'DataAtracacao', 'HoraAtracacao', 'DataDesatracacao', 'HoraDesatracacao', 'LocalAtracacao', 'Manifesto', 'TipoBloqueio1_x', 'MotivoBloqueio1_x', 'JustificativaBloqueio1_x', 'CPFResponsavelBloqueio1_x', 'NomeResponsavelBloqueio1_x', 'DataBloqueio1_x', 'HoraBloqueio1_x', 'DesbloqueadoPeloTransportador1_x', 'CPFResponsavelDesbloqueio1_x', 'NomeResponsavelDesbloqueio1_x', 'DataDesbloqueio1_x', 'HoraDesbloqueio1_x', 'JustificativaDesbloqueio1_x', 'TipoBloqueio2_x', 'MotivoBloqueio2_x', 'JustificativaBloqueio2_x', 'CPFResponsavelBloqueio2_x', 'NomeResponsavelBloqueio2_x', 'DataBloqueio2_x', 'HoraBloqueio2_x', 'DesbloqueadoPeloTransportador2_x', 'CPFResponsavelDesbloqueio2_x', 'NomeResponsavelDesbloqueio2_x', 'DataDesbloqueio2_x', 'HoraDesbloqueio2_x', 'JustificativaDesbloqueio2_x', 'TipoBloqueio3_x', 'MotivoBloqueio3_x', 'JustificativaBloqueio3_x', 'CPFResponsavelBloqueio3_x', 'NomeResponsavelBloqueio3_x', 'DataBloqueio3_x', 'HoraBloqueio3_x', 'DesbloqueadoPeloTransportador3_x', 'CPFResponsavelDesbloqueio3_x', 'NomeResponsavelDesbloqueio3_x', 'DataDesbloqueio3_x', 'HoraDesbloqueio3_x', 'JustificativaDesbloqueio3_x', 'QuantidadeBloqueiosAtivos_x', 'IndicadorHistoricoBloqueios_x', 'IndicadorHistoricoPedidoRetificacao_x', 'TipoManifesto', 'DataEmissao_x', 'NomeAgenciaNavegacao', 'CodigoAgenciaNavegacao', 'NomeEmpresaNavegacao', 'CodigoEmpresaNavegacao', 'CodigoPortoCarregamento', 'NomePortoCarregamento', 'CodigoTerminalCarregamento1', 'NomeTerminalCarregamento1', 'CodigoTerminalCarregamento2', 'NomeTerminalCarregamento2', 'CodigoTerminalCarregamento3', 'NomeTerminalCarregamento3', 'CodigoPortoDescarregamento', 'NomePortoDescarregamento', 'CodigoTerminalDescarregamento1', 'NomeTerminalDescarregamento1', 'CodigoTerminalDescarregamento2', 'NomeTerminalDescarregamento2', 'CodigoTerminalDescarregamento3', 'NomeTerminalDescarregamento3', 'Conhecimento', 'CodigoTerminalCarregamento', 'NomeTerminalCarregamento', 'CodigoTerminalDescarregamento', 'NomeTerminalDescarregamento', 'QuantidadeBloqueiosAtivos_y', 'QuantidadeBloqueiosInativos', 'TipoBloqueio1_y', 'MotivoBloqueio1_y', 'JustificativaBloqueio1_y', 'CPFResponsavelBloqueio1_y', 'NomeResponsavelBloqueio1_y', 'DataBloqueio1_y', 'HoraBloqueio1_y', 'DesbloqueadoPeloTransportador1_y', 'CPFResponsavelDesbloqueio1_y', 'NomeResponsavelDesbloqueio1_y', 'DataDesbloqueio1_y', 'HoraDesbloqueio1_y', 'JustificativaDesbloqueio1_y', 'TipoBloqueio2_y', 'MotivoBloqueio2_y', 'JustificativaBloqueio2_y', 'CPFResponsavelBloqueio2_y', 'NomeResponsavelBloqueio2_y', 'DataBloqueio2_y', 'HoraBloqueio2_y', 'DesbloqueadoPeloTransportador2_y', 'CPFResponsavelDesbloqueio2_y', 'NomeResponsavelDesbloqueio2_y', 'DataDesbloqueio2_y', 'HoraDesbloqueio2_y', 'JustificativaDesbloqueio2_y', 'TipoBloqueio3_y', 'MotivoBloqueio3_y', 'JustificativaBloqueio3_y', 'CPFResponsavelBloqueio3_y', 'NomeResponsavelBloqueio3_y', 'DataBloqueio3_y', 'HoraBloqueio3_y', 'DesbloqueadoPeloTransportador3_y', 'CPFResponsavelDesbloqueio3_y', 'NomeResponsavelDesbloqueio3_y', 'DataDesbloqueio3_y', 'HoraDesbloqueio3_y', 'JustificativaDesbloqueio3_y', 'TipoBloqueio4', 'MotivoBloqueio4', 'JustificativaBloqueio4', 'CPFResponsavelBloqueio4', 'NomeResponsavelBloqueio4', 'DataBloqueio4', 'HoraBloqueio4', 'DesbloqueadoPeloTransportador4', 'CPFResponsavelDesbloqueio4', 'NomeResponsavelDesbloqueio4', 'DataDesbloqueio4', 'HoraDesbloqueio4', 'JustificativaDesbloqueio4', 'IndicadorHistoricoBloqueios_y', 'IndicadorHistoricoPedidoRetificacao_y', 'NumeroBL', 'DataEmissao_y', 'Tipo', 'ConhecimentoMaster', 'IndicadorBLServico', 'NumeroBLServico', 'IndicadorPossuiBLServico', 'QuantidadeBLServico', 'IndicadorShipConveniense', 'ConteinerShipConveniense1', 'ConteinerShipConveniense2', 'ConteinerShipConveniense3', 'CodigoPortoOrigem', 'NomePortoOrigem', 'CodigoPortoDestino', 'NomePortoDestino', 'NomeConsignatario', 'CPFCNPJConsignatario', 'ConsignatarioEstrangeiro', 'NomeConsignatarioEstrangeiro', 'PassaporteEstrangeiro', 'IndicadorBLaOrdem', 'IndicadorCargaEntregaExterior', 'CodigoPaisEntrega', 'NomePaisEntrega', 'IdentificacaoConsignatario', 'NomeNotificado', 'CPFCNPJNotificado', 'IdentificacaoNotificado', 'DescricaoMercadoria', 'ContinuacaoDescricaoMercadoria', 'Situacao_y', 'DataSituacao', 'CodigoSituacao', 'CodigoDocumentoDespacho', 'NumeroDocumentoDespacho', 'CodigoDaSituacaoDespacho', 'SituacaoDespacho', 'DataSituacaoDespacho', 'CanalDespachoDI', 'TipoDocDespachoNaturezaDSI', 'NomeRAArmazenamento', 'CodigoRAArmazenamento', 'NomeEmbarcador', 'CPFCNPJEmbarcador', 'IdentificacaoEmbarcador', 'NomeAgenteNavegacao', 'CodigoAgenteNavegacao', 'NomeEmpresaNavegacaoDesconsolidadora', 'CodigoEmpresaNavegacaoDesconsolidadora', 'NomeAgenteNavegacaoDesconsolidador', 'CodigoAgenteNavegacaoDesconsolidador', 'NomeNavioPrimeiroTransporte', 'DataEmissaoBLPrimeiroTransporte', 'BLPrimeiroTransporte', 'ValorFrete', 'MoedaFrete', 'ModalidadeFrete', 'RecolhimentoFrete', 'IndicadorCargaConteinerizada']

In [42]:
df_MBL = df_final[df_final['Tipo'] == 'MBL']
print(len(df_MBL))

17617

In [46]:
df_MBL = df_MBL[['Conhecimento', 'Tipo', 'DataAtracacao', 'HoraAtracacao']]
df_MBL.head()

       Conhecimento Tipo DataAtracacao HoraAtracacao
81  151705196885271  MBL    01/10/2017      00:15:00
83  151705196876361  MBL    01/10/2017      00:15:00
87  151705196874903  MBL    01/10/2017      00:15:00
89  151705196875632  MBL    01/10/2017      00:15:00
91  151705196875713  MBL    01/10/2017      00:15:00

In [ ]:
for column in df_conhecimento.columns: