In [1]:
import os
# import pandas as pd
import modin.pandas as pd
from bhadrasana.conf import ENCODE, tmpdir
from bhadrasana.utils.csv_handlers import sch_processing

Process STDOUT and STDERR is being redirected to /tmp/raylogs/.
Waiting for redis server at 127.0.0.1:45489 to respond...
Waiting for redis server at 127.0.0.1:56148 to respond...
Starting local scheduler with the following resources: {'CPU': 4, 'GPU': 0}.

======================================================================
View the web UI at http://localhost:8889/notebooks/ray_ui61985.ipynb?token=cc945fdb07e31581d65f0fc18ef4ae333a0aafddcd3d9186
======================================================================

In [2]:
CAMINHO = '/home/ivan/Downloads'
ARQUIVO = 'DESCARREGADOS201711.zip'
lista = sch_processing(os.path.join(CAMINHO, ARQUIVO),
               dest_path='.')

In [3]:
import time
s0 = time.time()
df_conhecimento = pd.read_csv('Conhecimento.csv',
                              encoding=ENCODE, dtype=str)
print(df_conhecimento.shape)
df_conhecimento.head()

(73507, 117)

,Conhecimento,QuantidadeBloqueiosAtivos,QuantidadeBloqueiosInativos,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,NomeResponsavelBloqueio1,DataBloqueio1,HoraBloqueio1,...,NomeAgenteNavegacaoDesconsolidador,CodigoAgenteNavegacaoDesconsolidador,NomeNavioPrimeiroTransporte,DataEmissaoBLPrimeiroTransporte,BLPrimeiroTransporte,ValorFrete,MoedaFrete,ModalidadeFrete,RecolhimentoFrete,IndicadorCargaConteinerizada
0,151705229008681,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,JPO SCORPIUS,NaN,NaN,"00000004274,00",DOLAR DOS EUA,HOUSE TO HOUSE,COLLECT,S
1,151705229008843,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,JPO SCORPIUS,NaN,NaN,"00000000350,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
2,151705229008924,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,JPO SCORPIUS,NaN,NaN,"00000000350,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
3,151705229009068,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,JPO SCORPIUS,NaN,NaN,"00000000350,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
4,151705229009149,NaN,00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,JPO SCORPIUS,NaN,NaN,"00000000350,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S

In [4]:
for column in df_conhecimento.columns:
    if 'tipo' in column.lower():
        print(column)

TipoBloqueio1
TipoBloqueio2
TipoBloqueio3
TipoBloqueio4
Tipo
TipoDocDespachoNaturezaDSI

In [5]:
df_mc =  pd.read_csv('ManifestoConhecimento.csv',
                              encoding=ENCODE, dtype=str)
print(len(df_mc))
df_mc.head()

73509

,Manifesto,Conhecimento,CodigoTerminalCarregamento,NomeTerminalCarregamento,CodigoTerminalDescarregamento,NomeTerminalDescarregamento
0,1517502472520,151705229008681,NaN,ZARATE,BRSSZ016,SANTOS BRASIL
1,1517502472520,151705229008843,NaN,ZARATE,BRSSZ016,SANTOS BRASIL
2,1517502472520,151705229008924,NaN,ZARATE,BRSSZ016,SANTOS BRASIL
3,1517502472520,151705229009068,NaN,ZARATE,BRSSZ016,SANTOS BRASIL
4,1517502472520,151705229009149,NaN,ZARATE,BRSSZ016,SANTOS BRASIL

In [7]:
df_merge1 = df_mc.merge(df_conhecimento, on='Conhecimento')
print(len(df_merge1))

NotImplementedError: To contribute to Pandas on Ray, please visit github.com/modin-project/modin.

In [ ]:
df_manifesto = pd.read_csv('Manifesto.csv',
                              encoding=ENCODE, dtype=str)
df_manifesto.head()

In [ ]:
df_em = pd.read_csv('EscalaManifesto.csv',
                    encoding=ENCODE, dtype=str)
df_em.head()

In [ ]:
df_atracacao = pd.read_csv('AtracDesatracEscala.csv',
                    encoding=ENCODE, dtype=str)
df_atracacao.head()

In [ ]:
dfm1 = df_atracacao.merge(df_em, left_on='Escala',right_on='Escala')

In [ ]:
dfm1.head()

In [ ]:
dfm2 = dfm1.merge(df_manifesto, left_on='Manifesto',right_on='Manifesto')

In [ ]:
print(len(dfm2))
dfm2.head()

In [ ]:
dfm3 = dfm2.merge(df_mc, left_on='Manifesto',right_on='Manifesto')

In [ ]:
print(len(dfm3))
dfm3.head()

In [ ]:
df_final = dfm3.merge(df_conhecimento, left_on='Conhecimento',right_on='Conhecimento')

In [ ]:
print(len(df_final))
df_final.head()

In [ ]:
print(list(df_final.columns))

In [ ]:
df_MBL = df_final[df_final['Tipo'] == 'MBL']
print(len(df_MBL))

In [ ]:
df_MBL = df_MBL[['Conhecimento', 'Tipo', 'DataAtracacao', 'HoraAtracacao']]
df_MBL.head()

In [ ]:
s1 = time.time()
print(s0 - s1)
print(f'{(s0 - s1):4f} segundos')